.funding-round {
  color: #fff;
  min-height: 110vh;
  background: #02111d;
  background: linear-gradient(4deg, #2b4149 0%, #1e2f3d 11%, #02111d 75%);
  position: relative;
  overflow: hidden;

  h1 {
    font-size: 54px;
    font-weight: 600;
    color: #fff;
    margin-bottom: 40px;
  }

  p {
      margin-bottom: 100px;
      font-size: 18px;
      color: #ddd;

  }

  h2 {
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0;
    color: #fff;

    span {
        font-size: 36px;
        padding-right: 5px;
    }
  }
}
