@import '../../base.scss';

.navbar-nav {
  width: $max;
}

.navbar.navbar-custom {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 70px;
  padding: 0 1.5rem;
  box-shadow: rgba(17, 31, 93, 0.08) 3px 0px 30px,
    rgba(27, 27, 43, 0.09) 2px 0px 5px;
  transition: 200ms all;

  a {
    color: black;
  }

  .nav {
    height: 100%;
  }

  .nav-item {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 10px;

    .nav-link {
      width: 150px;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0;
      border-top: 8px solid $somewhat-gray;
      transition: 200ms all;

      &:hover {
        border-top: 8px solid $light-blue;
        background-color: white;
      }

      &.selected {
        border-top: 8px solid $primary;
        font-weight: 600;
      }
    }
  }

  .navbar-brand {
    width: 15%;
    margin: 0;
    font-weight: bold;
    font-size: 1.2em;
  }

  .dropdown-toggle {
    background-color: #fff;
    border: 1px solid #fff;
    margin-right: 30px;

    &:selected {
      box-shadow: none;
    }

    &:hover {
      border: 1px solid #eee;
    }
  }

  .header-auth {
    background-color: #fff;
    border: 1.5px solid #000;
    border-radius: 5px;
    font-size: 14px;
    width: 90px;
    height: 36px;
    padding: 0;

    &:hover {
      box-shadow: 0 4px 4px #ddd;
    }
  }
}

.navbar.navbar-custom.dark {
  background-color: $almost-black;

  a {
    color: white;
  }

  svg {
    color: white;
  }

  .nav-item {
    .nav-link {
      border-top: 8px solid gray;

      &:hover {
        border-top: 8px solid $light-blue;
        background-color: rgba(255, 255, 255, 0.1);
      }

      &.selected {
        border-top: 8px solid $primary;
      }
    }
  }
}

@media only screen and (max-width: 1442px) {
  .navbar.navbar-custom {
    font-size: 14px;
    padding: 0 1rem;

    .nav-item {
      margin: 0 6.5px;
      font-size: 14px;

      .nav-link {
        width: 120px;
        text-align: center;
      }
    }

    .navbar-brand {
      width: 8%;
      font-size: 14px;
    }

    div.mr-4 {
      margin-right: 6.5px !important;

      button.dropdown-toggle {
        padding: .5rem 1rem;
      }
    }
  }
}
